@main("Error Page") {
    <center>
        <h1> 404</h1>
        <h3> AAAAAAAAAAggHhh!!! The page doesn't exist!
            <p>Instead, You can hear this goat screaming like human! </p></h3>
        <div data-features="auto-play-video" class="auto-play-video">
            <video id="video" width="400" loop="loop"
            preload="auto" title="Video" controls>
                <source src='@routes.Assets.at("video/The Screaming Sheep.mp4")' type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </center>
}